* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 95%;
  height: 95vh;
  border: 2px solid black;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.panel {
  flex: 0 0 30%; 
  max-width: 100%;
  min-width: 200px;
  height: 40%;
  background-color: white;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
